body{
    background-color: #F5F5C6;
    font-family: 'Mitr', sans-serif;
}

h2{
    color: #F5F5C6;
    padding-left: 2%;
    padding-top: 1%;
}

.padding-5{
    padding: 5%;
}

.padding-3{
    padding: 3%;
}


.fixed-bottom{
    position: fixed;
    width: 100%;
    height: auto;
    padding-top: 2%;
}

.center{
    text-align: center;
}

.rigth{
    text-align: right;
}

.text-footer{
    font-size: small;
    color: #F5F5C6;

}

.padding-top-1{
    padding-top: 5%;
}
