body {
    background-color: #f5f5c6;
    font-family: "Mitr", sans-serif;
}

h2 {
    color: #f5f5c6;
    padding-left: 2%;
    padding-top: 1%;
}

.padding-5 {
    padding: 5%;
}

.padding-3 {
    padding: 3%;
}

.fixed-bottom {
    position: fixed;
    width: 100%;
    height: auto;
    padding-top: 2%;
}

.center {
    text-align: center;
}

.rigth {
    text-align: right;
}

p {
    font-size: smaller;
    color: #f5f5c6;
}

.padding-top-1 {
    padding-top: 5%;
}

h6 {
    color: #27253d;
}

a {
    text-decoration: none;
}

#os,
#language,
#version,
#isInClient,
#accessToken,
#pictureUrl,
#userId,
#displayName,
#statusMessage,
#decodedIDToken,
#type,
#viewType,
#utouId,
#roomId,
#groupId,
#friendship,
#scanCode,
#isLoggedIn,
#universalLink1,
#universalLink2 {
    color: #27253d;
    padding-left: 5%;
    padding-top: 1%;
}

#pictureUrl {
    display: block;
    margin: 0 auto;
    width: 12%;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-pack: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-pack: center;
    box-align: center;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }